[Desktop Entry]
Version=1.0
Icon=project-m-reload-dolphin
Exec=project-m-reload-dolphin
Terminal=false
Type=Application
Categories=Game;Emulator;
Name=Project+ Dolphin
GenericName=Wii/GameCube Emulator
Comment=A Wii/GameCube Emulator
